<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="sms.Properties.Settings.IssRRCargoConnectionString"
      connectionString="Data Source=.;Initial Catalog=IssRRCargo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.IssSchoolConnectionString"
      connectionString="Data Source=.;Initial Catalog=School2013;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.issschool2013ConnectionString"
      connectionString="Data Source=.;Initial Catalog=issschool2013;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.issschool2013santoshConnectionString"
      connectionString="Data Source=ISS2-PC;Initial Catalog=issschool2013santosh;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.issschool2013santoshConnectionString1"
      connectionString="Data Source=.;Initial Catalog=issschool2013santosh;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.school2013ConnectionString"
      connectionString="Data Source=ISS2-PC;Initial Catalog=school2013;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.school2013clientConnectionString"
      connectionString="Data Source=.;Initial Catalog=school2013client;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.schoolKantadanjiOdishaConnectionString"
      connectionString="Data Source=.;Initial Catalog=schoolKantadanjiOdisha;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.nvsSchoolConnectionString"
      connectionString="Data Source=.;Initial Catalog=nvsSchool;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.IssStaugstinCConnectionString"
      connectionString="Data Source=.;Initial Catalog=issschool2015;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.DSRConnectionString" connectionString="Data Source=.;Initial Catalog=issschool2015;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.IssSmsRamaConnectionString"
      connectionString="Data Source=.;Initial Catalog=issschool2015;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.sspublicConnectionString"
      connectionString="Data Source=.;Initial Catalog=staug;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.ISSLION2015ConnectionString"
      connectionString="Data Source=ISS2-PC\SQLEXPRESS;Initial Catalog=ISSLION2015;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.staugConnectionString" connectionString="Data Source=ISS2-PC\SQLEXPRESS;Initial Catalog=staug;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.testConnectionString" connectionString="Data Source=ISS2-PC\SQLEXPRESS;Initial Catalog=test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.ISSBALSAGARConnectionString"
      connectionString="Data Source=ISS2-PC\SQLEXPRESS;Initial Catalog=ISSBALSAGAR;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.GREENConnectionString" connectionString="Data Source=ISS2-PC\SQLEXPRESS;Initial Catalog=GREEN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.BALSAGARConnectionString"
      connectionString="Data Source=ABHAS-PC;Initial Catalog=BALSAGAR;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.dayanand2017ConnectionString"
      connectionString="Data Source=AB-PC;Initial Catalog=dayanand2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.GREENFIELDConnectionString"
      connectionString="Data Source=AB-PC;Initial Catalog=GREENFIELD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.GREENFIELDConnectionString1"
      connectionString="Data Source=.;Initial Catalog=GREENFIELD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.gConnectionString" connectionString="Data Source=AB-PC;Initial Catalog=g;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.newgg2017ConnectionString"
      connectionString="Data Source=RAVI-PC;Initial Catalog=newgg2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.cgpsnew2018ConnectionString"
      connectionString="Data Source=.;Initial Catalog=cgpsnew2018;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.holylatestConnectionString"
      connectionString="Data Source=.;Initial Catalog=holylatest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.hly20199ConnectionString"
      connectionString="Data Source=LAPTOP-5RVP58L2;Initial Catalog=hly20199;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sms.Properties.Settings.hly20199ConnectionString1"
      connectionString="Data Source=.;Initial Catalog=hly20199;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Connection1" value="server=.;database=holy8888;Integrated Security=true" />
    <add key="Connection2" value="server=.;database=holy8888;Integrated Security=true" />
    <add key="ConnectionWeb" value="Data Source=43.224.136.159,2499;Initial Catalog=NewHoly;uid=NewHoly_user;pwd=cf6yd47%64*"/>

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>